.navbar{
    width: 200px;
    background-color: #1A2332;
    color: #FF6B35;
}

.navbar h1{
    margin-bottom: 1rem;
    margin-top: 3rem;
    padding: 1.5rem;
}

.link{
    display: flex;
    color: #D1D5DB;
    gap: 1rem;
    text-decoration: none;
    font-size: 1rem;
    padding: 1.1rem;
    margin: .3rem;
    border-radius: .3rem;
    align-items: center;
}

.link:hover{
    background-color: #FF6B35;
    color: white;
}

nav{
    display: flex;
    flex-direction: column;
}


@media (max-width: 834px) {

}

