.navbar{
    width: 250px;
    background-color: #1A2332;
    color: #FF6B35;
    padding: .2rem;
}

.navbar h1{
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.link{
    color: #D1D5DB;
    text-decoration: none;
    font-size: 1rem;
    padding: 1.1rem;
    margin: .3rem;
    border-radius: .3rem;
}

.link:hover{
    background-color: #FF6B35;
    color: white;
}

nav{
    display: flex;
    flex-direction: column;
}

