.forms-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

.forms-container section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    border:1px solid #4B556320;
    border-radius: 0.5rem;
    box-shadow: #4B556320 0px 1px 2px
}

.forms-container section button {
    padding: 0.75rem 1.5rem;
    background-color: #FF6B35;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

.forms-container h2 {
    margin-bottom: 1.5rem;
}

.inline-inputs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.inline-inputs > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container label {
    margin-bottom: 0.5rem;
    font-size: .8rem;
    color: #4b5563;
}

.danger-zone{
    padding: 2rem;
    border: 1px solid #fc9393;
    border-radius: .5rem;
}

.danger-zone p {
    margin-bottom: 1rem;
}

.danger-zone button{
    background-color: #ff4d4d;
    padding: 0.75rem 1.5rem;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}


