* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body,html,#root {
font-family: 'Poppins', sans-serif;
color: #222;
height: 100%;
}

input{
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.app-container {
    display: flex;
    min-height: 100vh; /* ✔ allows content to grow */
}

.main-content {
    margin-left: 13rem;
    flex: 1; /* occupy remaining height */
    overflow-y: auto; /* scroll kapag lumampas sa height */
    padding: 3rem; /* optional spacing */
    background-color: #F9FAFB;
}

label{
    margin-bottom: 0.5rem;
    font-size: .8rem;
    color: #4b5563;
}

.navbar{
    position: fixed; /* or sticky */
    left: 0;
    top: 0;
    width: 250px; /* adjust as needed */
    height: 100vh; /* full height */
}