* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body,html,#root {
font-family: 'Poppins', sans-serif;
color: #222;
height: 100%;
}

input{
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 0.8rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}